.base16_theme
.bash_history
.bash_sessions
.cache/fish
.CFUserTextEncoding
.config/base16_shell
.DS_Store
.local/share/fish
.Trash
.viminfo
.vimrc_background
.vscode/extensions
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
.cups
.fzf
.fzf.bash
.fzf.zsh
.config/fish/fish_variables
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish
